body {font-family: 'Roboto', sans-serif;}
h2 {color: blue}
#heading {color: red;}
.title {color: aqua;
color: black;}
h2#heading {color: yellow;}
h2#heading.title {color: palevioletred;}
body h2#heading.title {color: blueviolet;}
.icon {color: blue;
font-size: 48px;}