@import url(./header.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
}

a{
    text-decoration: none;
}

.tech img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 480px;
    object-fit: cover;
}

.card {
    width: 1200px;
    padding-top: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tech {
    background-color: #fff;
    width: 320px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%)
        /* chiều x - chiều y - độ mờ - màu */
    ;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
}

.content {
    padding: 20px;
}

.title {
    color: #464646;
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}


.latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 10%;
}

.latest>ul {
    padding: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-left: 225px;
}

.latest li {
    display: flex;
    cursor: pointer;   
}

.latest img {
    max-width: 100%;
    width: 210px;
    height: 120px;
    object-fit: cover;
}

.latest p {
    display: flex;
    flex-direction: column;
    padding: 25px;
}