/* Reset 1 số thuộc tính về trạng thái ban đầu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.tech img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 450px;
}

.card {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;

}

.tech {
    background-color: #fff;
    width: 700px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%)
        /* chiều x - chiều y - độ mờ - màu */
    ;
    border-radius: 7px;
    overflow: hidden;
}

.content {
    padding: 20px;
}

.title {
    color: #464646;
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}

.des {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 16px;
}


.rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}

.banner h2 {
    text-align: center;
}

.blog {
    padding: 5%;
}

.blog h2 {
    text-align: center;
    margin-bottom: 50px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-list .tech {
    width: 300px;
}

.weekly {
    padding: 5%;
}

.weekly h2 {
    text-align: center;
    margin-bottom: 50px;
}

.weekly h3 {
    text-align: center;
    margin: 50px 0 50px;
}

.weekly .tech {
    width: 330px;
    height: 620px;
}

.him {
    display: flex;
    justify-content: space-between;
}

.her {
    display: flex;
    justify-content: space-between;
}